<div class='container--blue text-center'>
  <%= image_tag('bd-eyes.svg', class: 'center icon--small') %>
  <h1 class='bd--heading light'>Bus Detective Brand</h1>
</div>

<div class='container--grey'>
  <div class='container'>

    <div class='row u-push--bottom'>
      <div class='col-sm-8 col-sm-offset-2'>
        <h2>Our Logo</h2>
        <div class='well'>
          <%= link_to 'Download .zip', page_path('brand') %>
          <%= image_tag('bd-asset-bus.png', class: 'center') %>
        </div>
        <p class='u-flush--bottom'>Please use the Bus Detective to represent the brand when possible</p>
      </div>
    </div>

    <div class='row u-push--bottom'>
      <div class='col-sm-4 col-sm-offset-2'>
        <div class='well'>
          <%= link_to 'Download .zip', page_path('brand') %>
          <%= image_tag('bd-icon.png', class: 'center') %>
        </div>
      </div>
      <div class='col-sm-4'>
        <div class='well'>
          <%= link_to 'Download .zip', page_path('brand') %>
          <%= image_tag('bd-logo.svg', class: 'center u-push--ends') %>
        </div>

      </div>
    </div>

    <div class='row u-push--bottom'>
      <div class='col-sm-8 col-sm-offset-2'>
        <h2>Typography</h2>
        <p class='u-flush--bottom'>
          We use
          <%= link_to 'Brandon Grotesque', 'https://typekit.com/fonts/brandon-grotesque' %>
          for our brand.
        </p>
        <div class='well'>
          <h3 class='hero'>Heroes are 36px normal</h3>
          <h3 class='heading'>Headings are 28px normal</h3>
          <h3 class='subheading'>Subheading are 20px bold</h3>
          <p>Paragraphs are 16px normal</p>
          <p class='emphasis'>Emphasis(print) and links(web) are 16px bold</p>
        </div>
      </div>
    </div>

    <div class='row u-push--bottom'>
      <div class='col-sm-8 col-sm-offset-2'>

        <h2>Brand Colors</h2>

        <div class='swatch'>
          <div class='swatch--lt-blue'></div>
          <p class='swatch__info'>
            <strong>Pantone 7457</strong>
            <br>
            #BBDBE5
          </p>
        </div>

        <div class='swatch'>
          <div class='swatch--blue'></div>
          <p class='swatch__info'>
            <strong>Pantone 298</strong>
            <br>
            #42B4E3
          </p>
        </div>

        <div class='swatch'>
          <div class='swatch--green'></div>
          <p class='swatch__info'>
            <strong>Pantone 382</strong>
            <br>
            #C1D42F
          </p>
        </div>

        <div class='swatch'>
          <div class='swatch--dk-blue'></div>
          <p class='swatch__info'>
            <strong>Pantone 3015</strong>
            <br>
            #005F9B
          </p>
        </div>

        <div class='swatch'>
          <div class='swatch--grey'></div>
          <p class='swatch__info'>
            <strong>Pantone 425</strong>
            <br>
            #545759
          </p>
        </div>

      </div>
    </div>


  </div>
</div>
