<div class='container text-center'>
  <div class='row'>
    <div class='col-sm-12'>
        <%= image_tag('bd-tablet.png', class: 'center') %>
      <h1 class='bd--heading'>Install a Bus Detective Display</h1>
      <p class='bd--lead'>
        Suport public transporation in Cincinnati. Display real-time bus arrival data for Cincinnati Metro in your bar, restaurant or retail store.
      </p>
      <a class='btn btn-default' href='mailto:dschleith@gmail.com?Subject=Bus%20Detective%20Partner' role="button">Apply Now</a>
    </div>
  </div>
</div>

<div class='container--grey'>
  <div class='container text-center'>
    <div class='row'>
      <div class='col-sm-4'>
        <%= image_tag('bd-attract.svg', class: 'icon--circle') %>
        <div class='bd--list'>
          <h3>Attract Attention</h3>
          <p>Bus Detective displays start conversations and draws people into your business.</p>
        </div>
      </div>
      <div class='col-sm-4'>
        <%= image_tag('bd-sales.svg', class: 'icon--circle') %>
        <div class='bd--list'>
          <h3 class='bd--list-heading'>Increase Sales</h3>
          <p>People stay longer—and buy more—if they know exactly when the bus is coming. </p>
        </div>
      </div>
      <div class='col-sm-4'>
        <%= image_tag('bd-foot.svg', class: 'icon--circle') %>
        <div class='bd--list'>
          <h3 class='bd--list-heading'>Drive Foot Traffic</h3>
          <p>Encouraging bus ridership creates more foot traffic for your business. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container text-center'>
  <div class='row'>
    <div class='col-sm-12'>
      <h2>How It Works</h2>
      <p>Become a Founding Partner with Bus Detective.</p>
      <%= image_tag('bd-founder.svg', class: 'icon--circle') %>
    </div>
    <div class='col-sm-6'>
      <p>The first 10 Founding Partner businesses will receive a tablet for $20 and free tablet installation with app running. You’ll provide WiFi and display space.</p>
    </div>

    <div class='col-sm-6 col-sm-offset-3'>
      <p>
        <a href='mailto:dschleith@gmail.com?Subject=Bus%20Detective%20Partner'>Email Daniel Schleith</a>
        about applying for a display
      </p>
    </div>
  </div>
</div>

<div class='container text-center'>
  <div class='row'>
    <div class='col-sm-12'>
      <h2>About This Project </h2>
      <%= image_tag('pl.png') %>
      <p>
        Bus Detective Public Displays are a
        <a href='http://www.peoplesliberty.org/grantees/' target='_blank'>People’s Liberty Project Grantee</a>
         The team behind the displays includes Daniel Schleith and Nate Wessel, graduate students and public transportation researchers, and Brad Thomas, a SORTA board member.
      </p>

    </div>
  </div>
</div>
